/*
/.*

/3-layer-perceptron
/CNN
/attention
/chiner_seq2seq
/chiner_seq2seqex
/dataset
/word2vec

result/
chiner_seq2seq/dataset/
chiner_seq2seqex/dataset/
jupyterhub_cookie_secret
chiner_seq2seqex/nohup.out
NVIDIA-Linux-x86_64-410.66.run
*.
